
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1
{
    text-align: center;
    color: rgb(5, 188, 239);
}

input,label
{
    display: block;
}

label
{
    color: rgb(1, 1, 9);
}

input
{
    width: 100%;
}

.submit
{
    margin: 15px auto 0 auto;
    width: 30%;
    background-color: rgba(53, 217, 225, 0.962);
    border-radius: 5px;
}

form
{
    min-width: 300px;
    max-width: 500px;
    margin: auto;
    border: 2px solid rgba(0, 7, 9, 0.985);
    padding: 15px;
    background-color: rgb(7, 140, 192);
}
